{% extends 'base.html' %}
{% block content %}
  {% include "components/advertisement.html" %}
  <p class="text-customBlue font-thin ...">The quick brown fox ...</p>
  <p class="text-customBlue font-extralight ...">The quick brown fox ...</p>
  <p class="text-customBlue font-light ...">The quick brown fox ...</p>
  <p class="text-customBlue font-normal ...">The quick brown fox ...</p>
  <p class="text-customBlue font-medium ...">The quick brown fox ...</p>
  <p class="text-customBlue font-semibold ...">The quick brown fox ...</p>
  <p class="text-customBlue font-bold ...">The quick brown fox ...</p>
  <p class="text-customBlue font-extrabold ...">The quick brown fox ...</p>
  <p class="text-customBlue font-black ...">The quick brown fox ...</p>
{% endblock %}