{% extends 'base.html' %}
{% block content %}

  {% include "components/advertisement.html" %}
  <div class="container mx-auto my-10">
    <h1 class="flex justify-center text-4xl">All products</h1>
    <!-- Senda props -->
    {% include 'components/section_preview.html' with category="Cereals" %}
    <!-- Senda props -->
    {% include 'components/section_preview.html' with category="Bowls" %}
    <!-- Senda props -->
    {% include 'components/section_preview.html' with category="Merchandise" %}
  </div>
{% endblock %}