{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main class="container mx-auto my-10">
    <div class="flex row">
      <!-- IMAGE -->
      <div class="">
        <img class="object-cover object-center w-96 rounded-t-md" src="{%  static 'images/Cereal/' %}{{ product.picture }}" />
        <span class="font-light text-sm">Product number: {{ product.id }}</span>
      </div>
      <!-- META DATA -->
      <div class="ml-16">
      <!-- START Title and weight -->
        <div class="flex row items-end">
          <h1 class="font-medium text-4xl">{{ product.name }}</h1>
          {% if product.weight != None %}
            <span class="ml-4 font-light text-sm">{{ product.weight }}gr</span>
          {% endif %}
        </div>
        <!-- END Title and weight -->
        <!-- START Product rating -->
        <div class="flex row">
          <!-- START Stars -->
          <div class="flex row">
            <div>*</div>
            <div>*</div>
            <div>*</div>
            <div>*</div>
            <div>*</div>
          </div>
          <!-- END Stars -->
          <span>{{ product.total_reviews }} reviews</span>
        </div>
        <!-- END Product rating -->
        <div>
          <span>In stock</span>
          <span>(Checkmark)</span>
        </div>
        <div>
          <h3>Product description</h3>
          <p>{{ product.description }}</p>
        </div>
        <h3>${{ product.price }}</h3>
        <!-- START Add to cart button -->
        <div>

        </div>
        <!-- END Add to cart button -->

      </div>

    </div>

  </main>
{% endblock %}