{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main class="container mx-auto my-16 text-customGray">
    {% include 'components/back_button.html' %}
    <div class="w-80 mb-4">
      <h2 class="text-2xl font-medium mb-2">New review</h2>
      <form method="post" class="flex flex-col">
        {% csrf_token %}
        <div class="mb-2">
          <div class="text-red-500 text-sm italic">{{ form.stars.errors }}</div>
          <label for="{{ form.stars.id_for_label }}"
                 class="block text-gray-700 text-base mb-2">Stars</label>
          <div class="flex flex-row">
            {% for item in "x"|ljust:"5" %}
            <button type="button" value="{{ forloop.counter }}" class="star-btn focus:outline-none">
                {% include 'components/icons/star_filled.html' with hidden=True id=forloop.counter %}
                {% include 'components/icons/star_unfilled.html' with hidden=False id=forloop.counter %}
            </button>
            {% endfor %}
            <input type="number" name="stars" class="hidden" step="any" required="" id="id_stars">
          </div>
        </div>
        <div class="mb-4">
          <div class="text-red-500 text-sm italic">{{ form.review.errors }}</div>
          <label for="{{ form.review.id_for_label }}"
                 class="block text-gray-700 text-base mb-2">Review</label>
          {{ form.review }}
        </div>
        <div class="flex justify-end mb-3">
          <button class="bg-customBlue hover:shadow-md rounded text-customViolet text-base w-32 py-1 px-4 focus:outline-none"
                  type="submit">Add review
          </button>
        </div>
      </form>
    </div>
  </main>
{% endblock %}

{% block page_scripts %}
  <script src="{% static 'js/product_review.js' %}"></script>
{% endblock %}