<div class="flex flex-col my-3">
  <h1 class="text-xl text-customGray font-medium">Filter</h1>
  <!-- Filter & Order by menu -->
  {% csrf_token %}
  <form method="get" class="flex flex-col pt-3 lg:flex-row">
    <div class="flex flex-col-reverse w-full sm:flex-row">
      <!-- Dropdown menu for filtering brands -->
      <div class="sm:w-64">
        <div class="relative">
          {{ filterset.form.brand }}
          <span
              class="absolute right-2 top-0 h-full text-center text-gray-600 pointer-events-none flex items-center justify-center"
          >
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                 class="w-4 h-4" viewBox="0 0 24 24"
            >
              <path d="M6 9l6 6 6-6"></path>
            </svg>
          </span>
        </div>
      </div>
      <!-- END Dropdown menu for filtering brands -->

      <!-- Checkbox filters -->
      <div id="{{ filterset.form.labels.auto_id }}" class="flex justify-center mb-2 sm:m-0">
        {% for checkbox in filterset.form.labels %}
          <div class="my-auto pl-3">
            <label class="inline-flex items-center" for="{{ checkbox.id_for_label }}">
              <input
                  value="{{ checkbox.data.value }}"
                  type="checkbox" class="filter-btn form-checkbox h-5 w-5"
                  name="labels"
                  id="{{ checkbox.id_for_label }}"
                  {% if checkbox.data.selected %}checked{% endif %}
              >
              {% for label in labels.all %}
                {% if checkbox.choice_label == label.name %}
                  {% with "components/icons/"|addstr:label.icon as template %}
                    <span class="mx-1">
                      {% include template with classAttr="w-4 h-4 sm:w-6 sm:h-6" %}
                    </span>
                  {% endwith %}
                {% endif %}
              {% endfor %}
              <span> {{ checkbox.choice_label }} </span>
            </label>
          </div>
        {% endfor %}
      </div>
      <!-- END Checkbox filters -->
    </div>
    <!-- Dropdown menu for ordering products -->
    <div class="relative w-full sm:w-48 sm:mt-4 lg:mt-0">
      {{ filterset.form.ordering }}
      <span
          class="absolute right-2 top-0 h-full text-center text-gray-600 pointer-events-none flex items-center justify-center"
      >
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
             class="w-4 h-4" viewBox="0 0 24 24"
        >
          <path d="M6 9l6 6 6-6"></path>
        </svg>
      </span>
    </div>
    <!-- END Dropdown menu for ordering products -->
  </form>
</div>
<!-- END Filter & Order by menu -->