{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="container mx-auto mb-16 mt-10 text-customGray">
  {% include "components/back_button.html" %}

    {% csrf_token %}
    <h1 class=" text-4xl text-customGray font-medium">Order #{{ order.id }}</h1>
    <h3 class="text-l">Placed on {{ order.date }}</h3>

    <div class="flex flex-col justify-between mt-6 lg:flex-row">
      <!-- Items in order -->
      <div class="px-2 lg:w-2/5 lg:px-0">
        {% include "profile/order_history/order_details_items.html" %}
      </div>
      <!-- END Items in order -->
      <!-- Order summary -->
      <div class="px-2 lg:w-2/6 lg:px-0">
        {% include "profile/order_history/order_details_summary.html" %}
      </div>
      <!-- END Order summary -->
    </div>
</main>
{% endblock %}