{% extends 'base.html' %}
{% block content %}

<!-- Products on page -->
{% if products %}
<main class="container mx-auto my-10">
  <h1 class="flex justify-center text-6xl text-customGray"> {{ category.name }} </h1>
  {% include "category/category_filters.html" %}
  <div class="flex flex-wrap">
    {% for product in object_list %}
      {% include 'components/product_card.html' with product=product %}
    {% endfor %}
  </div>
</main>
{% endif %}
<!-- END Products on page -->

<!-- Page numbers -->
{% if is_paginated %}
<ul>
  <!-- Page before -->
  {% if page_obj.has_previous %}
  <li>
    <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
  </li>
  <!-- END Page before -->

  <!-- No page before -->
  {% else %}
  <li class="disabled">
    <span>&laquo;</span>
  </li>
  <!-- END No page before -->
{% endif %}

<!-- All available pages -->
{% for i in paginator.page_range %}
  {% if page_obj.number == i %}
  <li class="active">
    <span>{{ i }}
      <span class="sr-only">(current)</span>
    </span>
  </li>
  {% else %}
  <li>
    <a href="?page={{ i }}">{{ i }}</a>
  </li>
  {% endif %}
{% endfor %}
<!-- END All available pages -->

<!-- Next page -->
{% if page_obj.has_next %}
  <li>
    <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
  </li>
<!-- END Next page -->

<!-- No next page -->
{% else %}
  <li class="disabled">
    <span>&raquo;</span>
  </li>
{% endif %}
<!-- END no next page -->
</ul>
{% endif %}
<!-- END Products on page -->
{% endblock %}
