<header>
  <div class="flex items-center my-4">
    <!-- Logo -->
    <div>
      <a href="/"> {% include "components/icons/header-logo.html" %} </a>
    </div>
    <!-- END Logo -->

    <!-- Navbar -->
    <div class="flex w-full md:w-2/5 flex-col">
      {% include "components/header/navbar.html" %}
      <div class="flex justify-center md:hidden mt-4 w-full">
        {% include "components/header/search/searchbar.html" %}
      </div>
    </div>
    <!-- END Navbar -->

    <div class="w-full flex flex-row justify-end">
      <!-- Searchbar -->
      <div class="hidden md:flex items-center">
        {% include "components/header/search/searchbar.html" %}
      </div>
      <!-- END Searchbar -->

      <!-- Cart and profile -->
      {% include "components/header/toolbar.html" %}
      <!-- END Cart and profile -->
    </div>
  </div>
</header>
