<header>
  <div class="flex items-center my-4 flex-col sm:flex-row">
    <!-- Logo -->
    <div>
      <a href="/"> {% include "components/icons/header-logo.html" %} </a>
    </div>
    <!-- END Logo -->

    <!-- Navbar -->
    <div class="flex flex-col w-full items-center sm:flex-row">
        {% include "components/header/navbar.html" %}
      <!-- END Navbar -->

      <div class="w-full flex flex-col mt-2 sm:flex-row-reverse sm:mt-0">
        <!-- END Searchbar -->

        <!-- Cart and profile -->
        <div class="flex justify-center">
          {% include "components/header/toolbar.html" %}
        </div>
        <!-- END Cart and profile -->
        <!-- START Searchbar -->
        <div class="flex mt-2 w-full sm:mt-0">
          {% include "components/header/search/searchbar.html" %}
        </div>
        <!-- END Searchbar -->
      </div>
    </div>
  </div>
</header>
