{% csrf_token %}
<form id="search-form" class="flex self-center relative w-full mt-3 sm:mt-0 sm:w-40 sm:justify-center sm:ml-auto md:w-52 lg:w-64 xl:w-72 2xl:w-96">
  <label class="hidden" for="search-form">Search</label>
  <input
      id="search-input"
      class="relative z-30 py-3 px-6 shadow-inner w-full h-8 focus:outline-none sm:rounded-lg sm:border-customGray sm:border"
      placeholder="Search"
      type="text"
      autocomplete="off"
      name="search"
      required
      value="{{ search_str }}"
  />
  <button class="z-30 absolute right-0 h-full w-10 bg-customGray focus:outline-none sm:rounded-r-lg">
    <div class="flex justify-center items-center">
      <svg class="w-5 h-5 justify-center" fill="none" stroke="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
      </svg>
    </div>
  </button>
  <!-- DROPDOWN -->
  {% if user.is_authenticated and user.searchhistory_set.all|length > 0 %}
    {% include "components/header/search/search_history.html" %}
  {% endif %}
</form>