<div id="search-dropdown"
     class="z-20 overflow-y-auto absolute overflow-hidden w-full max-h-0 border-customGray rounded-xl border top-3 bg-white">
  <ul
      class="w-full shadow-lg hover:shadow-xl text-customGray">
    {% for result in user.searchhistory_set.all %}
      <li class="flex items-center justify-between border-b p-3 border-gray-300">
        <a href="#">{{ result.search }}</a>
        <button type="button" class="search-delete-button" data-search-id="{{ result.id }}">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </li>
    {% endfor %}
  </ul>
</div>