{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ship O' Cereal</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/tailwind-output.css" %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Roboto&display=swap" rel="stylesheet"/>
  </head>
  <body>
  <!-- Header -->
  <div class="container mx-auto">
    {% include 'components/header.html' %}
  </div>

  {% block content %}
  {% endblock %}

  <!-- Footer -->
  {% include 'components/footer.html' %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/script.js' %}" />
  </body>
</html>
