{% extends 'base.html' %}
{% load static %}
{% load product_card_extras %}
{% block content %}

  {% include "components/advertisement.html" %}
  <main class="container mx-auto my-10">
    <h1 class="flex justify-center text-2xl text-customGray font-medium sm:text-3xl md:text-4xl">Top rated products!</h1>
    <!-- Preview of top 5 products in categories -->
    {% for k, v in categories.items %}
      {% include 'components/section_preview.html' with category=k products=v cart=cart %}
    {% endfor %}
  </main>
{% endblock %}

{% block page_scripts %}
  <script src="{% static 'js/preview_pages.js' %}"></script>
{% endblock %}
