{% extends 'base.html' %}
{% block content %}
    <p class="font-thin ...">The quick brown fox ...</p>
    <p class="font-extralight ...">The quick brown fox ...</p>
    <p class="font-light ...">The quick brown fox ...</p>
    <p class="font-normal ...">The quick brown fox ...</p>
    <p class="font-medium ...">The quick brown fox ...</p>
    <p class="font-semibold ...">The quick brown fox ...</p>
    <p class="font-bold ...">The quick brown fox ...</p>
    <p class="font-extrabold ...">The quick brown fox ...</p>
    <p class="font-black ...">The quick brown fox ...</p>
{% endblock %}