{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="container mx-auto my-10">
  {% include 'components/back_button.html' %}
  {% include "category/category_filters.html" %}
  <!-- Products on page -->
  {% if searched %}
  <div class="flex flex-wrap -mx-8">
    {% for product in products %}
      <div class="p-4 w-1/5 flex justify-center items-start">
        {% include 'components/product_card.html' with product=product %}
      </div>
    {% endfor %}
  </div>
  <!-- Product page numbers -->
  <div class="flex justify-center mt-8">
    {% include 'components/pagination.html' with filters=filters is_paginated=is_paginated paginator=paginator page_obj=page_obj %}
  </div>
  <!-- END Product page numbers -->

  {% else %}
   <h1>Hey you forgot to search ..</h1>
  {% endif %}
  <!-- END Products on page -->
</main>
{% endblock %}

{% block page_scripts %}
<script src="{% static 'js/preview_pages.js' %}"></script>
{% endblock %}
