{% load static %}

<li id="product-id-{{ product.id }}" class="shadow-lg hover:shadow-xl rounded flex flex-row items-center p-4 mb-4">
  <img src="{% static static %}images/{{ product.category }}/{{ product.image_set.first }}"
       class="object-cover object-center w-16"/>
  <h3 class="text-xl ml-4 w-full">{{ product.name }}</h3>
  <span class="ml-8">${{ price }}</span>
  <!-- START Select Amount -->
  <div class="relative inline ml-4">
    <div class="{% if quantity is None %} hidden {% endif %} text-customGray amountParent">
      <div class="custom-number-input w-32">
        <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent">
          <button
              class="bg-gray-100 text-gray-600 h-full w-20 rounded-l outline-none cursor-pointer hover:text-gray-700 hover:bg-gray-200"
              data-product-id="{{ product.id }}"
              data-action="decrement"
              type="button">
            <span class="m-auto text-2xl font-thin">−</span>
          </button>
          <input
              type="text"
              class="outline-none focus:outline-none text-center w-full bg-gray-100 font-semibold text-md flex items-center outline-none input-amount"
              name="custom-input-number" value="{% if quantity is None %}1{% else %}{{ quantity }}{% endif %}"/>
          <button data-action="increment"
                  data-product-id="{{ product.id }}"
                  class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:bg-gray-200 h-full w-20 rounded-r cursor-pointer">
            <span class="m-auto text-2xl font-thin">+</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END Select Amount -->
  <button data-product-id="{{ product.id }}" class="ml-4 focus:outline-none delete-btn">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</li>