<header>
    <div class="flex items-center">
        <img src="../static/images/logo.png" class="object-scale-down" alt="Cap O' Cereal logo"/>

        <div>
             <!-- Navbar -->
              <nav class="block w-auto" style="border: 1px solid #ff0000;">
                    <ul class="flex text-customViolet text-lg ...">
                      <li class="mx-4">
                          <a href="#">Cereal</a>
                      </li>
                      <li class="mx-4">
                          <a href="#">Bowls</a>
                      </li>
                      <li class="mx-4" >
                          <a href="#">Merchandise</a>
                      </li>
                    </ul>
              </nav>
         </div>

          <div class="ml-auto">
              <form class="" style="border: 1px solid red;">
                <label class="hidden" for="search-form">Search</label>
                    <input class="bg-grey-lightest border-2 focus:border-orange p-2 rounded-lg shadow-inner w-full" placeholder="Search" type="text">
                <button class="hidden">Submit</button>
            </form>
          </div>
    </div>

</header>