<header>
  <div class="flex items-center my-4">
    <!-- Logo -->
    <div>
      <a href="/"> {% include "components/icons/header-logo.html" %} </a>
    </div>
    <!-- END Logo -->

    <!-- Navbar -->
    <div class="flex w-2/5...">
      <nav>
        <ul class="flex text-customViolet text-xl">
          {% for category in categories %}
            <li class="mx-4">
              <a class="border-b-2 border-customViolet border-opacity-0 hover:border-opacity-75"
                 href="{% url 'product-category' category_name=category.name %}">{{ category.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <!-- END Navbar -->

    <!-- Toolbar -->
    <div class="w-full flex flex-row justify-end">
      <!-- Searchbar -->
      <form class="block self-center relative w-96">
        <label class="hidden" for="search-form">Search</label>
        <input
            id="search-input"
            class="relative z-30 border border-customGray rounded-l-xl rounded-r-xl py-3 px-6 shadow-inner w-full h-8"
            placeholder="Search"
            type="text"
        />
        <button
            class="z-30 absolute right-0 h-full w-10 rounded-r-xl bg-customGray">
          <div class="flex justify-center items-center">
            <svg class="w-6 h-6 justify-center" fill="none" stroke="#fff" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
          </div>
        </button>
        <!-- DROPDOWN -->
        <div id="search-dropdown"
             class="z-20 overflow-y-auto absolute overflow-hidden w-full max-h-0 border-customGray rounded-xl border top-3 bg-white">
          <ul
              class="w-full shadow-lg hover:shadow-xl text-customGray">


            <li class="flex items-center justify-between border-b p-3 border-gray-300">
              <a href="#">Cocoa Puffs og þetta er eh geggjað langur title </a>
              <button>
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </button>
            </li>


            <li class="flex items-center justify-between border-b p-3 border-gray-300">
              <a href="#">Cocoa Puffs</a>
              <button>
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </button>
            </li>
          </ul>
        </div>

      </form>
      <!-- END Searchbar -->

      <!-- Cart -->
      <a
          href="{% url 'cart' %}"
          class="rounded-full bg-customGray w-12 h-12 flex items-center justify-center ml-6 relative"
      >
        {% include "components/icons/header-cart-icon.html" %}
        <div
            class="bg-customBlue rounded-full p-1 h-5 absolute -top-1 -right-1 flex items-center justify-center text-customGray"
        >
          <p class="" id="cart_total">{{ total_in_cart }}</p>
        </div>
      </a>
      <!-- END Cart -->

      <!-- User profile -->
      <a
          href="{% url 'profile' %}"
          class="rounded-full bg-customGray w-12 h-12 flex items-center justify-center ml-6"
      >
        {% if user.is_authenticated %}
          {% include "components/icons/header-profile-icon.html" %}
        {% else %}
          {% include "components/icons/header-login-register-icon.html" %}
        {% endif %}
      </a>
      <!-- END User profile -->

    </div>
    <!-- END Toolbar -->
  </div>
</header>
