<header>
  <div class="flex items-center my-4">
    <!-- Logo -->
    <div class="w-1/5">
      <a href="/">
        {% include "components/icons/header-logo.html" %}
      </a>
    </div>
    <!-- END logo -->

    <!-- Navbar -->
    <div class="flex w-2/5...">
      <nav>
        <ul class="flex text-customViolet text-xl">
          <li class="mx-4">
            <a href="#">Cereal</a>
          </li>
          <li class="mx-4">
            <a href="#">Bowls</a>
          </li>
          <li class="mx-4" >
            <a href="#">Merchandise</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- END Navbar -->

    <!-- Toolbar -->
    <div class="w-full flex row justify-end">
      <!-- Searchbar -->
      <form class="block self-center">
        <label class="hidden" for="search-form">Search</label>
          <input class="border border-customGray rounded-full py-3 px-6 shadow-inner w-full h-8" placeholder="Search" type="text">
        <button class="hidden">Submit</button>
      </form>
      <!-- END Searchbar -->
      <!-- BEGIN Cart -->
      <a href="#" class="rounded-full bg-customGray w-12 h-12 flex items-center justify-center ml-6 relative">
        {% include "components/icons/header-cart-icon.html" %}
        <div class="bg-customBlue rounded-full w-5 h-5 absolute -top-1 -right-1 flex items-center justify-center text-customGray">
            <p class="">0</p>
        </div>
      </a>
      <!-- END Cart -->
      <!-- BEGIN User profile -->
      <a href="#" class="rounded-full bg-customGray w-12 h-12 flex items-center justify-center ml-6">
        {% include "components/icons/header-profile-icon.html" %}
      </a>
      <!-- END User profile -->
    </div>
    <!-- END Toolbar -->
  </div>
</header>