{% load general %}
{% load static %}
<div id="review-{{ id }}" class="flex flex-col my-8 items-center md:flex-row md:items-start md:justify-start">
  <div class="w-32 md:mr-8">
    <div class="flex flex-col justify-center items-center w-32">
      {% if picture %}
        <img class="w-16 h-16 rounded-full object-cover object-center" src="{% static static %}media/{{ picture }}">
      {% else %}
        <div class="bg-customGray rounded-full w-16 h-16 flex justify-center items-center">
          {% include 'components/icons/header-profile-icon.html' %}
        </div>
      {% endif %}
      <div class="flex justify-center text-center">
        <h3 class="text-md font-medium mt-3">{{ first_name }} {{ last_name }}</h3>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="">
      <div id="review-stars-{{ id }}" data-stars-total="{{ stars }}" class="flex flex-col md:flex-row md:items-center">
        <div class="flex flex-row justify-center my-2 md:justify-start">
          {% for item in stars|times %}
            {% include 'components/icons/star_filled.html' %}
          {% endfor %}
          {% for item in stars|get_unfilled_stars %}
            {% include 'components/icons/star_unfilled.html' %}
          {% endfor %}
        </div>
        <div class="flex flex-row justify-center md:justify-start">
          <h3 id="review-title-{{ id }}" class="text-md font-medium md:ml-4">{{ title }}</h3>
        </div>
      </div>
      <span class="block text-center md:text-left">Posted on {{ date }}</span>
      <p class="mt-2 text-center italic md:text-left md:mt-4">{{ comment }}</p>
    </div>
    <!-- Change button if it's the users review -->
    {% if users_review and users_review.id == id %}
      <div class="flex flex-row justify-center mt-4 md:justify-start">
        <button
            class="text-customRed focus:outline-none border-b-2 border-customRed border-opacity-0 hover:border-opacity-75 mx-4 md:ml-0"
            type="button" id="delete-review" data-review-id="{{ id }}">Delete
        </button>
        <button class="focus:outline-none border-b-2 border-customViolet border-opacity-0 hover:border-opacity-75 mx-4"
                type="button" id="change-review" data-review-id="{{ id }}">Change
        </button>
      </div>
    {% endif %}
  </div>
</div>