{% load static %}
{% load product_card_extras %}
<div class="rounded-md w-64 shadow-lg hover:shadow-xl bg-gray-50 text-customGray flex flex-col">
  <!--div class="bg-customBlue h-2/3 rounded-t-md text-white flex justify-center items-center text-customViolet">Image</div -->
  <a href="/products/{{ product.id }}" class="h-56">
    <img
        src="{% static 'images/' %}{{ product.category }}/{{ product.image_set.first.name }}"
        class="rounded-t-md object-cover object-center h-full w-full"
    />
  </a>
  <div class="p-4 h-full flex flex-col justify-between">
    <div>
      <!-- START Label icons -->
      <div class="flex flex-row">
        <!-- START Healthy icons -->
        <!-- NOT SO DYNAMIC  -->
        {% for label in product.labels.all %}
          {% if label.id == 1 %}
            <!-- START Gluten free icons -->
            <span class="mr-2">
          {% include 'components/icons/gluten-free-icon.html' with classAttr="w-6 h-6" %}
            </span>
          {% elif label.id == 2 %}
            <span class="mr-2">
          {% include 'components/icons/healthy-icon.html' with classAttr="w-6 h-6" %}
            </span>
          {% elif label.id == 3 %}
            <span class="mr-2">
            {% include 'components/icons/sugary-icon.html' with classAttr="w-6 h-6" %}
            </span>
          {% endif %}
        {% endfor %}


      </div>
      <!-- END Label icons -->
      <h3 class="text-xl break-words">{{ product.name }}</h3>
      {% if product.weight != None %}
        <span class="text-sm text-thin">{{ product.weight }}gr</span>
      {% endif %}
    </div>
    <div class="flex flex-row justify-between items-center {% if product.weight is None %} mt-5 {% endif %}">
      <span class="block text-3xl">${{ product.price }}</span>
      <!-- This shows only when user hasn't added this to their cart -->
      <button
          class="{% if product.id|stringformat:"i" in cart %} hidden {% endif %} block bg-customGreen py-2 px-3 text-white rounded-md text-lg buy-btn w-30 h-10 flex justify-center items-center"
          data-product-id="{{ product.id }}"
      >Add to cart
      </button>
      <!-- This shows only when the user has added this to their cart -->
      <div
          class="text-customGray amountParent {% if product.id|stringformat:"i" not in cart %} hidden {% elif cart is None %} hidden {% endif %}">
        <div class="custom-number-input w-30">
          <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent">
            <button
                class="bg-gray-100 text-gray-600 h-full w-9 rounded-l outline-none cursor-pointer hover:text-gray-700 hover:bg-gray-200"
                data-action="decrement"
                type="button">
              <span class="m-auto text-2xl font-thin">−</span>
            </button>
            <input
                type="text"
                data-product-id="{{ product.id }}"
                class="outline-none focus:outline-none text-center w-10 bg-gray-100 font-semibold text-md flex items-center outline-none input-amount"
                name="custom-input-number" value="{% if cart %}{{ cart|get_item:product.id }}{% else %}0{% endif %}"/>

            <button data-action="increment"
                    class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:bg-gray-200 h-full w-9 rounded-r cursor-pointer">
              <span class="m-auto text-2xl font-thin">+</span>
            </button>
          </div>
        </div>
      </div>


    </div>
  </div>
  <!--/a-->
</div>
