{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main class="container mx-auto my-16 text-customGray">
    <h1 class="text-3xl mb-2">Checkout</h1>
    <h3 class="text-xl">Select a shipping address</h3>
    <!-- START Card Container-->
    <div class="flex flex-row justify-between">
      <div>
        <ul class="flex flex-col mt-6 mb-6">
          {% for address in user.address_set.all %}

            <li class="inline shadow-lg hover:shadow-xl self-start rounded mb-4">
              <label>
                <div class="px-4 py-6">
                  <input value="{{ address.id }}" type="radio" name="address" class="mx-2 address-input"
                         {% if checkout_address_id == address.id %}checked{% endif %}>
                  <span class="text-md font-medium mr-2">Address {{ forloop.counter }}</span>
                  <span
                          class="text-md font-light">{{ address.street_name }} {{ address.house_number }}, {{ address.city }} {{ address.zip }}, {{ address.country }}, {{ address.additional_comments }}</span>

                  <span class="ml-2">
                    <a class="font-medium text-sm focus:outline-none border-b-2 border-customViolet border-opacity-0 hover:border-opacity-75"
                       href="/profile/addresses/{{ address.id }}/?next=/checkout/address/">Change</a>
                  </span>
                </div>
              </label>
            </li>

          {% endfor %}
        </ul>
        <a class="text-base text-customViolet rounded border border-customViolet py-1 px-4 focus:outline-none hover:shadow-md"
           href="/profile/addresses/new/?next=/checkout/address/">New address
        </a>
      </div>
      <div class="flex flex-col">
        <div>
          <h4 class="text-center mb-4 font-light text-sm">Step 1</h4>
          <div class="h-10 w-10 rounded-full bg-customBlue mb-4"></div>
          <div class="h-10 w-10 rounded-full bg-gray-100 mb-4"></div>
          <div class="h-10 w-10 rounded-full bg-gray-100 mb-4"></div>
        </div>
      </div>
    </div>
    <div class="w-full mt-10 flex flex-row justify-end">
      <div class="flex flex-col justify-end">
        <a class="w-full text-2xl rounded p-2 border-4 border-red-400 text-customViolet py-1 px-4 focus:outline-none hover:shadow-md"
           href="#">Next step
        </a>
        <h4>*Address required to continue</h4>
      </div>
    </div>
      <a class="text-2xl rounded p-2 bg-customGreen text-white py-1 px-4 focus:outline-none hover:shadow-md"
         href="checkout/card/">Next step
      </a>
  </main>
{% endblock %}

{% block page_scripts %}
  <script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}