{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main class="container mx-auto mb-16 mt-10 text-customGray">
    {% include 'components/back_button.html' %}
    <form method="post">
      {% csrf_token %}
      <h1 class="text-3xl mb-2">Checkout</h1>
      <h3 class="text-xl">Select a card</h3>
      <!-- START Card Container-->
      <div class="flex flex-row justify-between">
        <div>
          <ul class="flex flex-col mt-6 mb-4">
            {% for card in user.card_set.all %}
              <div id="card-info-{{ card.id }}" class="hidden text-gray-500 text-sm italic">Please enter the cards 3 digit CVC number.</div>
              <li class="inline shadow-lg hover:shadow-xl self-start rounded mb-4">
                <label class="cursor-pointer">
                  <div class="px-4 py-6">
                    <input value="{{ card.id }}" type="radio" name="card" class="mx-2 card-input"
                      {% if select_card == card.id %}checked{% endif %}>
                    <span class="text-md font-medium mr-2">Card {{ forloop.counter }}</span>
                    <span
                            class="text-md font-light">XXXX-XXXX-XXXX-{{ card.number|slice:"-4:" }}</span>
                    <input id="card-id-{{ card.id }}" type="text" class="border border-customRed rounded w-12 text-center ml-3 hidden focus:outline-none"
                           maxlength="3" placeholder="CVC" name="CVCfield"
                           pattern="\d*" disabled>
                    <span class="ml-3 mr-2">
                      <a class="font-medium text-sm focus:outline-none border-b-2 border-customViolet border-opacity-0 hover:border-opacity-75"
                         href="{% url 'update_card' id=card.id %}?next=/checkout/card/">Change</a>
                    </span>
                  </div>
                </label>
              </li>
            {% endfor %}
          </ul>
          <a class="text-base text-customViolet rounded border border-customViolet py-1 px-4 focus:outline-none hover:shadow-md"
             href="{% url 'add_card' %}?next=/checkout/card/">New card
          </a>
        </div>
        <div class="flex flex-col">
          <div>
            <h4 class="text-center mb-4 font-light text-sm">Step 2</h4>
            <div class="h-10 w-10 rounded-full bg-gray-100 mb-4"></div>
            <div class="h-10 w-10 rounded-full bg-customBlue mb-4"></div>
            <div class="h-10 w-10 rounded-full bg-gray-100 mb-4"></div>
          </div>
        </div>
      </div>
      <div class="w-full mt-10 flex flex-row justify-between">
        <a class="text-base text-customViolet rounded border border-customViolet py-1 px-4 focus:outline-none hover:shadow-md"
           href="{% url 'checkout_address' %}">Previous step
        </a>
        <button id="next-disabled" type="button"
                class="cursor-not-allowed text-xl rounded p-2 bg-gray-100 text-gray-400 py-1 px-4 focus:outline-none hover:shadow-md">Next step
        </button>
        <button type="submit" id="next-enabled"
           class="text-xl rounded p-2 bg-customGreen text-white py-1 px-4 focus:outline-none hover:shadow-md hidden">Next step
        </button>
      </div>
      {% if error_message %}
      <div class="text-red-500 mt-2 text-lg italic text-right">{{ error_message }}</div>
      {% endif %}
      <h4 id="text-disabled" class="text-right mt-1">*Card required to continue</h4>
    </form>
  </main>
{% endblock %}

{% block page_scripts %}
  <script src="{% static 'js/checkout.js' %}"></script>
  <script src="{% static 'js/checkout_card.js' %}"></script>
{% endblock %}