{% extends 'base.html' %}
{% block content %}
  <main class="container mx-auto my-10 text-customGray">
    <h1 class="text-3xl mb-8">Cart</h1>
    <!-- START Cart Items & View Amount -->
    <div class="flex flex-row justify-between">
      <!-- START Cart Items -->
      <div class="">
        <ul>
          <!-- START Item -->
          {% for product in products %}
            {% include 'components/cart_item.html' with product_name=product.product.name price=product.price quantity=product.quantity image=product.product.image_set.first %}
          {% endfor %}
          <!-- END Item -->
        </ul>
      </div>
      <!-- END Cart Items -->

      <!-- START View Amount -->
      <div class="">
        <div class="flex justify-center items-center shadow-lg rounded">
          <div class="my-5 mx-8 w-72">
            <h1 class="text-center text-3xl">Amount</h1>
            <div class="my-4 text-lg">
              <p>Products: $4.99</p>
              <p>Shipping: $10</p>
            </div>
            <p class="text-sm font-light">Free shipping if your order is over $20, otherwise shipping costs $10.</p>
            <div class="w-full h-0.5 bg-customGray my-5"></div>
            <h3 class="text-center text-2xl font-light">Total amount</h3>
            <h3 class="text-center text-3xl my-2">$14.99</h3>
            <div class="flex justify-center">
              <button class="rounded p-2 bg-customGreen text-white">Go to checkout</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END View Amount -->


    </div>
    <!-- END Cart Items & View Amount -->
  </main>
{% endblock %}