{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main class="container mx-auto my-10 text-customGray">
    <h1 class="text-3xl mb-8">Cart</h1>
    <!-- START Cart Items & View Amount -->
    <div class="flex flex-row justify-between">
      <!-- START Cart Items -->
      <div class="" id="cart">
        <ul>
          <!-- START Item -->
          {% if products is None %}
            <h2 class="text-xl mb-72">Your cart is empty.</h2>
          {% else %}
            {% for product in products %}
              {% include 'components/cart_item.html' with product=product.product price=product.price quantity=product.quantity %}
            {% endfor %}
          {% endif %}
          <!-- END Item -->
        </ul>
      </div>
      <!-- END Cart Items -->

      <!-- START View Amount -->
      {% if products is not None %}
      <div class="">
        <div class="flex justify-center items-center shadow-lg rounded">
          <div class="my-5 mx-8 w-72">
            <h1 class="text-center text-3xl">Amount</h1>
            <div class="my-4 text-lg">
              <p>Products: ${{ products_amount }}</p>
              <p>Shipping: ${{ shipping_amount }}</p>
            </div>
            <p class="text-sm font-light">Free shipping if your order is over $20, otherwise shipping costs $10.</p>
            <div class="w-full h-0.5 bg-customGray my-5"></div>
            <h3 class="text-center text-2xl font-light">Total amount</h3>
            <h3 class="text-center text-3xl my-2">${{ total_amount }}</h3>
            <div class="flex justify-center">
              <button class="rounded p-2 bg-customGreen text-white">Go to checkout</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- END View Amount -->


    </div>
    <!-- END Cart Items & View Amount -->
  </main>

{% endblock %}

{% block page_scripts %}
  <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}
