{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container mx-auto">
  <h1 class="flex justify-center text-4xl text-customGray font-medium">Order history</h1>

  <!-- Order history table -->
  <table class="w-4/5 mt-6 mx-auto">
    <thead class="border-b-2 border-customViolet">
      <tr class="text-left text-xl text-customViolet">
        <th class="px-4 py-3">Order No.</th>
        <th class="px-4 py-3">Ship to</th>
        <th class="px-4 py-3">Order date</th>
        <th class="px-4 py-3">Status</th>
        <th class="px-4 py-3">Total</th>
      </tr>
    </thead>

    <tbody>
    <!-- Previous order -->
    {% for order in order_history %}
      {% include "profile/orders/order_entry.html" %}
    {% endfor %}
    <!-- END Order history -->
    </tbody>
  </table>
</main>

{% endblock %}